@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

:root{
    --cor1: #0C712F
}

header {
    background-color: var(--cor1);
    display: flex;
    align-items: center;
    padding: 10px; 
}

header img {
    width: 100px;
    margin-right: 20px;
}

header nav {
    display: flex;
    justify-content: flex-end; 
    margin-left: auto;
}

header a {
    text-decoration: none;
    color: white; 
    padding: 5px 20px;
}

a:hover{
    color: black;
    transform: scale(1.2);
    transition-delay: 0.2s;
    cursor: pointer;
}



