@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

* {
    margin: 0px;
    padding: 0px;

}

:root {
    --cor1: #0C712F
}

html{
   scroll-behavior: smooth; 
}

h1{
    font-family: 'Dela Gothic One', sans-serif;
    font-weight: 600;
    font-style: normal;
    font-weight: 400;
}

p{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

header {
    background-color: var(--cor1);
    min-height: 5px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 5px;
}

header img {
    width: 100px;
}

nav {
    padding: 10px;
}

nav a {
    color: rgb(255, 255, 255);
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: rgb(0, 0, 0);
    transform: scale (1.3);
    transition-delay: 0.2s;
    cursor: pointer;
}


.sobre {
    height: auto;
    background-color: black;
    color: white;
    background-image: url(midias/20px.png);
    margin: auto;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Centraliza conteúdo verticalmente */
}

.sobre h1 {
    text-align: center;
    font-size: 45px;
    padding-bottom: 25px;
}

.sobre p {
    font-size: 20px;
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
    padding-top: 10px;
    margin-bottom: 17px;
    line-height: 1.5;
}

.sobre a {
    color: #18ff03;
    text-decoration: none;
    font-weight: bold;
}

@media screen and (max-width: 600px) {
    .sobre p {
        font-size: 16px;
        padding-top: 15px;
    }

    .centro-img img {
        width: 80%;
        margin-top: 30px;
    }
}

@media screen and (min-width: 768px) {
    .centro-img img {
        width: 75%; /* Ajuste o tamanho conforme necessário */
    }
}

.centro-img {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Estilo para a imagem */
.centro-img img {
    max-width: 100%;
    max-height: 100%;
    display: block; /
}




main {
    height: 700px;
    background-image: url(midias/fundo100.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (max-width: 600px) {
    main {
        background-image: url(midias/fundo111.png);
        height: 100vh; /* Ou ajuste conforme necessário para dispositivos móveis */
    }
}

main h1 {
    color: white;
    font-size: 55px;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 30px; 
}

div.img {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

div.img img {
    width: 80%;  
    max-width: 100%;
    height: auto;
    display: block;
    margin: auto;
    margin-bottom: 58px;
    margin-top: 40px;
}

.insta {
    width: 59px;
}

.insta:hover {
    transform: scale(1.1);
    transition: 0.5s;
}


@media (max-width: 768px) {
    main {
        height: auto;
        padding: 20px; 
    }

    main h1 {
        font-size: 38px; 
        margin-bottom: 10px; 
    }
}




div.projetos {
    display: flex;
    justify-content: center;

}


div.h1 {
    text-align: center;
    margin-top: 10px;
    font-size: 15px;
}

.container {
    width: 1150px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.container .card {
    height: 350px;
    position: relative;
    padding: 10px;
    width: 250px;
    background-color: var(--cor1);
    margin: 15px;
    border: 5px solid black;
    overflow: hidden;
    border-radius: 20px;
    transition: 0.5s;
    text-align: center;
    padding-top: 20px;
}

.container .img4 {
    margin-bottom: 70px;
}

.container .card img {
    width: 200px;
    transition: 0.5s;
}

.card3 img {
    margin-top: 25px;

}

.card4 img {
    margin-top: 55px;

}

.card5 img {
    margin-top: 25px;
}

.card6 img {
    margin-top: 5px;

}

.card h1 {
    color: white;
    font-size: 19px;
    
}

.container .card1 h1 {
    padding-bottom: 50px;
}

.container .card:hover {
    background-color: #2C4E31;
    color: black;
    margin-top: -10px;
    box-shadow: 2px 20px 25px rgb(0, 0, 12);
    border-color: rgb(0, 0, 0);
}

footer {
    background-color: var(--cor1);
    height: 55px;
    ;
}

footer p {
    color: white;
    text-align: center;
    padding-top: 10px;
    margin: 5px;
}